$bg-small: 37.5em;
$bg-medium: 56.25em;

:root {
  /**  PRIMARY COLORS */
  --color-dark-blue: hsl(238, 40%, 52%);
  --color-light-blue: hsl(239, 57%, 85%);
  --color-dark-red: hsl(358, 79%, 66%);
  --color-light-red: hsl(357, 100%, 86%);

  /** NEUTRAL COLORS  */
  --color-greyer-blue: hsl(212, 24%, 26%);
  --color-grey-blue: hsl(211, 10%, 45%);
  --color-dark-grey: hsl(223, 19%, 93%);
  --color-light-grey: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --filter-color-light-blue: invert(72%) sepia(26%) saturate(484%)
    hue-rotate(201deg) brightness(96%) contrast(90%);

  --filter-color-dark-grey: invert(96%) sepia(5%) saturate(1876%)
    hue-rotate(186deg) brightness(104%) contrast(89%);

  --filter--color-dark-red: invert(47%) sepia(77%) saturate(397%)
    hue-rotate(309deg) brightness(93%) contrast(105%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bg-small) {
    font-size: 55%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-light-grey);
  justify-content: center;
  align-items: center;
}

/* CONTAINER */

.app {
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

img[disabled] {
  pointer-events: none;
  opacity: 0.7;
  filter: var(--filter--color-dark-red);
}

.reply-text {
  color: var(--color-light-blue);
}
