//# POST

//# UPVOTE - DOWNVOTE COUNT
.vote-container {
  height: 10rem;
  width: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-grey);
  border-radius: 10px;

  @media only screen and (max-width: $bg-small) {
    flex-direction: row;
    height: 4rem;
    width: 10rem;
  }

  //   background-color: var(--color-light-blue);

  &__plus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;

    &:hover {
      opacity: 100%;
    }
  }

  &__number {
    font-size: 1.6rem;
    color: var(--color-dark-blue);
    font-weight: 700;
  }

  &__minus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 0.4rem;
    cursor: pointer;

    &:hover {
      opacity: 100%;
    }
  }
}

//# POST DETAILS

.post__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.username {
  font-weight: 700;
  color: var(--color-greyer-blue);
}

.post-date {
  font-weight: 400;
  color: var(--color-grey-blue);
}

.user-interaction {
  display: flex;
  align-items: center;

  cursor: pointer;

  & > *:last-of-type {
    margin-left: 0.5rem;
  }

  &__reply-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  &__reply-text {
    color: var(--color-dark-blue);
    font-weight: 700;
  }

  &:hover {
    opacity: 70%;
  }
}

.post__bottom {
  hyphens: auto;
}

.post__text {
  font-weight: 400;
  color: var(--color-grey-blue);
}

// Reply button
.reply {
  padding: 1.3rem 2.3rem;
  text-transform: uppercase;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 0.2s;

  &:hover {
    opacity: 80%;
  }

  &:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  @media only screen and (max-width: $bg-small) {
    justify-self: end;
  }
}

.user-icons {
  display: flex;

  & > *:last-child {
    margin-left: 1.2rem;
  }

  @media only screen and (max-width: $bg-small) {
    position: absolute;
    bottom: 1.3rem;
    right: 0;
    transform: translate(-25%, -50%);
  }
}

.delete {
}

.delete-text {
  color: var(--color-dark-red);
}

//#Modal

.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &__content {
    font-size: 1.6rem;
    background-color: white;
    max-width: 38rem;
    padding: 3rem;
    hyphens: auto;
    @media only screen and (max-width: $bg-small) {
      font-size: 1rem;
    }
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--color-greyer-blue);
  }

  &__description {
    margin-bottom: 2rem;
    color: var(--color-greyer-blue);
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 2.4rem;
    color: var(--color-white);
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover,
    &:active {
      opacity: 0.8;
    }
  }

  &__deny {
    border-radius: 10px;
    background-color: var(--color-grey-blue);
  }

  &__accept {
    border-radius: 10px;
    background-color: var(--color-dark-red);
  }
}
