:root {
  /**  PRIMARY COLORS */
  --color-dark-blue: hsl(238, 40%, 52%);
  --color-light-blue: hsl(239, 57%, 85%);
  --color-dark-red: hsl(358, 79%, 66%);
  --color-light-red: hsl(357, 100%, 86%);
  /** NEUTRAL COLORS  */
  --color-greyer-blue: hsl(212, 24%, 26%);
  --color-grey-blue: hsl(211, 10%, 45%);
  --color-dark-grey: hsl(223, 19%, 93%);
  --color-light-grey: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --filter-color-light-blue: invert(72%) sepia(26%) saturate(484%)
    hue-rotate(201deg) brightness(96%) contrast(90%);
  --filter-color-dark-grey: invert(96%) sepia(5%) saturate(1876%)
    hue-rotate(186deg) brightness(104%) contrast(89%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-light-grey); }

/* CONTAINER */
#root {
  width: 100%;
  height: auto; }

.hidden {
  display: none; }

.container {
  max-width: 70em;
  margin: 10rem auto; }

.main--replied {
  display: grid;
  grid-template-columns: 10% 90%; }

.replied {
  border: none;
  border-radius: 0;
  justify-self: center;
  width: 3px;
  background-color: var(--color-dark-grey);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.post {
  display: grid;
  grid-template-columns: 10% 90%;
  min-height: 10rem;
  font-size: 1.6rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  margin-bottom: 2rem; }
  .post > *:first-child {
    padding: 2rem 1.5rem 1.5rem 2rem; }
  .post > *:last-child {
    padding: 2rem 2rem 2rem 1.5rem; }
  .post__vote {
    display: flex;
    align-items: flex-start;
    justify-content: center; }

.comment {
  min-height: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  align-items: flex-start; }
  .comment > *:not(:first-child) {
    margin-left: 2rem; }
  .comment .avatar {
    width: 4rem;
    height: 4rem; }
  .comment .textarea {
    padding: 1rem;
    flex: 0 1 80%; }

.vote-container {
  height: 10rem;
  width: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-grey);
  border-radius: 10px; }
  .vote-container__plus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer; }
    .vote-container__plus-icon:hover {
      opacity: 100%; }
  .vote-container__number {
    font-size: 1.6rem;
    color: var(--color-dark-blue);
    font-weight: 700; }
  .vote-container__minus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 0.4rem;
    cursor: pointer; }
    .vote-container__minus-icon:hover {
      opacity: 100%; }

.post__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; }

.user-details {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .user-details > *:not(:last-child) {
    margin-right: 1.5rem; }

.avatar {
  width: 2.5rem;
  height: 2.5rem; }

.username {
  font-weight: 700;
  color: var(--color-greyer-blue); }

.post-date {
  font-weight: 400;
  color: var(--color-grey-blue); }

.user-interaction {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .user-interaction > *:last-of-type {
    margin-left: 0.5rem; }
  .user-interaction__reply-icon {
    width: 1.3rem;
    height: 1.3rem; }
  .user-interaction__reply-text {
    color: var(--color-dark-blue);
    font-weight: 700; }
  .user-interaction:hover {
    opacity: 70%; }

.post__bottom {
  hyphens: auto; }

.post__text {
  font-weight: 400;
  color: var(--color-grey-blue); }

.reply {
  padding: 1.3rem 2.3rem;
  text-transform: uppercase;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 0.2s; }
  .reply:hover {
    opacity: 80%; }
  .reply:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }
