:root {
  /**  PRIMARY COLORS */
  --color-dark-blue: hsl(238, 40%, 52%);
  --color-light-blue: hsl(239, 57%, 85%);
  --color-dark-red: hsl(358, 79%, 66%);
  --color-light-red: hsl(357, 100%, 86%);
  /** NEUTRAL COLORS  */
  --color-greyer-blue: hsl(212, 24%, 26%);
  --color-grey-blue: hsl(211, 10%, 45%);
  --color-dark-grey: hsl(223, 19%, 93%);
  --color-light-grey: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --filter-color-light-blue: invert(72%) sepia(26%) saturate(484%)
    hue-rotate(201deg) brightness(96%) contrast(90%);
  --filter-color-dark-grey: invert(96%) sepia(5%) saturate(1876%)
    hue-rotate(186deg) brightness(104%) contrast(89%);
  --filter--color-dark-red: invert(47%) sepia(77%) saturate(397%)
    hue-rotate(309deg) brightness(93%) contrast(105%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-light-grey);
  justify-content: center;
  align-items: center; }

/* CONTAINER */
.app {
  position: relative; }

#root {
  height: 100%;
  width: 100%;
  position: relative; }

.hidden {
  display: none; }

img[disabled] {
  pointer-events: none;
  opacity: 0.7;
  filter: var(--filter--color-dark-red); }

.reply-text {
  color: var(--color-light-blue); }

.container {
  max-width: 70em;
  margin: 10rem auto; }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      margin: 2rem auto;
      padding: 0 1rem; } }

.main--replied {
  display: grid;
  grid-template-columns: 10% 90%; }
  @media only screen and (max-width: 37.5em) {
    .main--replied {
      grid-template-columns: 5% 95%; } }

.replied {
  border: none;
  border-radius: 0;
  justify-self: center;
  width: 3px;
  background-color: var(--color-dark-grey);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.post {
  display: grid;
  grid-template-columns: 10% 90%;
  min-height: 10rem;
  font-size: 1.6rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  margin-bottom: 2rem;
  position: relative; }
  .post > *:first-child {
    padding: 2rem 1.5rem 1.5rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .post > *:first-child {
        padding: 0rem 1.5rem 1.5rem 2rem; } }
  .post > *:last-child {
    padding: 2rem 2rem 2rem 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .post > *:last-child {
        padding: 2rem 1.5rem 1.5rem 2rem; } }
  .post__vote {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .post__vote {
        grid-row-start: 2;
        justify-content: flex-start; } }
  @media only screen and (max-width: 56.25em) {
    .post {
      min-height: auto; } }
  @media only screen and (max-width: 37.5em) {
    .post {
      grid-template-columns: 100%;
      grid-template-rows: 1fr, 1fr; } }

.comment {
  min-height: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  position: relative; }
  .comment > *:not(:first-child) {
    margin-left: 2rem; }
  .comment .avatar {
    width: 4rem;
    height: 4rem; }
  .comment .textarea {
    padding: 1rem;
    flex: 0 1 80%; }
  @media only screen and (max-width: 56.25em) {
    .comment {
      min-height: auto; } }

.vote-container {
  height: 10rem;
  width: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-grey);
  border-radius: 10px; }
  @media only screen and (max-width: 37.5em) {
    .vote-container {
      flex-direction: row;
      height: 4rem;
      width: 10rem; } }
  .vote-container__plus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer; }
    .vote-container__plus-icon:hover {
      opacity: 100%; }
  .vote-container__number {
    font-size: 1.6rem;
    color: var(--color-dark-blue);
    font-weight: 700; }
  .vote-container__minus-icon {
    filter: var(--filter-color-light-blue);
    opacity: 50%;
    width: 1.2rem;
    height: 0.4rem;
    cursor: pointer; }
    .vote-container__minus-icon:hover {
      opacity: 100%; }

.post__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; }

.user-details {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .user-details > *:not(:last-child) {
    margin-right: 1.5rem; }

.avatar {
  width: 2.5rem;
  height: 2.5rem; }

.username {
  font-weight: 700;
  color: var(--color-greyer-blue); }

.post-date {
  font-weight: 400;
  color: var(--color-grey-blue); }

.user-interaction {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .user-interaction > *:last-of-type {
    margin-left: 0.5rem; }
  .user-interaction__reply-icon {
    width: 1.3rem;
    height: 1.3rem; }
  .user-interaction__reply-text {
    color: var(--color-dark-blue);
    font-weight: 700; }
  .user-interaction:hover {
    opacity: 70%; }

.post__bottom {
  hyphens: auto; }

.post__text {
  font-weight: 400;
  color: var(--color-grey-blue); }

.reply {
  padding: 1.3rem 2.3rem;
  text-transform: uppercase;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 0.2s; }
  .reply:hover {
    opacity: 80%; }
  .reply:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.user-icons {
  display: flex; }
  .user-icons > *:last-child {
    margin-left: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .user-icons {
      position: absolute;
      bottom: 1.3rem;
      right: 0;
      transform: translate(-25%, -50%); } }

.delete-text {
  color: var(--color-dark-red); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .modal__content {
    font-size: 1.6rem;
    background-color: white;
    max-width: 38rem;
    padding: 3rem;
    hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .modal__content {
        font-size: 1rem; } }
  .modal__title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--color-greyer-blue); }
  .modal__description {
    margin-bottom: 2rem;
    color: var(--color-greyer-blue); }
  .modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .modal__button {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 2.4rem;
    color: var(--color-white);
    cursor: pointer;
    transition: opacity 0.2s; }
    .modal__button:hover, .modal__button:active {
      opacity: 0.8; }
  .modal__deny {
    border-radius: 10px;
    background-color: var(--color-grey-blue); }
  .modal__accept {
    border-radius: 10px;
    background-color: var(--color-dark-red); }
